{% extends 'base.html' %}

{% block content %}
<div class="container width-50 margin-auto breakpoint-lg pad-2">
	<div class="flex-col gap-2">
		<div class="flex-row-wrap gap-2 align-center justify-between pad-2">
			<h1>Add Review</h1>
			<div class="flex-row gap-2">
				<a href="{% url 'product_detail' product.id %}" class="btn bg-sky-400 bd-radius-2 ft-black bd-width-0 btn-md">
					Back To Product
				</a>
			</div>
		</div>
		<hr>
		<p>
			Add a review for {{ product.name }}.
		</p>
		<form method="POST" class="flex-col gap-2">
			{% csrf_token %}
			{{ form.as_p }}
			<button type="submit" class="btn bg-sky-400 bd-radius-2 ft-black bd-width-0 btn-md">Add Review</button>
		</form>
	</div>
</div>


{% endblock %}