{% extends 'base.html' %}

{% block content %}
<div class="reviews-page-container" style="padding-top: 210px;">
	<div class="container width-60 breakpoint-lg margin-auto">
		<div class="flex-row-wrap gap-2 align-center justify-between pad-2">
			<h2>Reviews - {{ product.name }}</h2>
			<div class="d-flex justify-content-end">
				<a href="{% url 'product_detail' product.id %}" class="btn btn-dark bd-radius-2 ft-black bd-width-0 btn-md">
					Back To Product
				</a>
			</div>			
		</div>
		<hr>
	</div>

	<div class="container width-60 breakpoint-lg margin-auto pad-2">
		<div class="flex-col gap-2 overflow-container pad-2">
			{% for review in reviews %}
			{% include 'includes/review_card.html' %}
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}