{% extends "base.html" %}
{% load static %}

{% block body_class %}homepage{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<section>
  <div class="container view-height-70 width-100 hero-bg">
    <div class="hero-overlay">
      <div class="hero-content container height-100 width-80 margin-auto breakpoint-md">
        <div class="flex-col height-80 gap-3 justify-center align-start pad-2">
          <p class="ft-size-6xl ft-sky-400">
            Wonderboy T-shirt
          </p>
          <p>
            Welcome to wonderboy t-shirt.
            <br>
            We provide the best style.
            <br>
            Shop now and get 10% off your first order when you join today.
          </p>
          <a href="{% url 'products' %}" id="shop-now">
            Shop Now
            <i class="fas fa-arrow-right"></i>
          </a>        
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}


