<script type="text/javascript">
    $(document).ready(function() {
        var isProductPage = $('body').hasClass('product-page');
        var isCartPage = $('body').hasClass('cart-page');

        function handleEnableDisable(itemId, size) {
            var currentValue = parseInt($(`#id_qty_${itemId}_${size}`).val());
            var minusDisabled = currentValue < 2;
            var plusDisabled = currentValue > 98;
            $(`#decrement-qty_${itemId}_${size}`).prop('disabled', minusDisabled);
            $(`#increment-qty_${itemId}_${size}`).prop('disabled', plusDisabled);

            if (isCartPage) {
                updateSubtotal(itemId, size);
            }
        }

        function updateSubtotal(itemId, size) {
            var currentValue = parseInt($(`#id_qty_${itemId}_${size}`).val());
            var price = parseFloat($(`#price_${itemId}`).data('price')); 
            var subtotal = currentValue * price;

            $(`#subtotal_${itemId}_${size}`).text('$' + subtotal.toFixed(2));
        }

        // Inicializa os elementos de quantidade e desabilita/abilita botões na página do produto
        $('.qty_input').each(function() {
            var itemId = $(this).data('item_id');
            var size = $(this).data('size');
            handleEnableDisable(itemId, size);
        });

        // Atualização de quantidade na página do produto
        $('.qty_input').change(function() {
            var itemId = $(this).data('item_id');
            var size = $(this).data('size');
            handleEnableDisable(itemId, size);
        });

        // Botão "Add to Bag" - Atualiza subtotal e envia o formulário
        $('.add-to-bag').click(function(e) {
            e.preventDefault(); // Impede o envio automático do formulário

            var itemId = $(this).data('item_id');
            var size = $(this).data('size');

            // Chama a função para atualizar o subtotal com base na quantidade selecionada
            updateSubtotal(itemId, size);

            // Submete o formulário do produto para adicionar ao carrinho
            var form = $(this).closest('form');
            form.submit();
        });

        // Comportamento do botão de incremento de quantidade
        $('.increment-qty').click(function(e) {
            e.preventDefault(); 

            var closestInput = $(this).closest('.input-group').find('.qty_input'); 
            var currentValue = parseInt($(closestInput).val());
            $(closestInput).val(currentValue + 1); 

            var itemId = $(this).data('item_id');
            var size = $(this).data('size');

            handleEnableDisable(itemId, size);
        });

        // Comportamento do botão de decremento de quantidade
        $('.decrement-qty').click(function(e) {
            e.preventDefault(); 

            var closestInput = $(this).closest('.input-group').find('.qty_input'); 
            var currentValue = parseInt($(closestInput).val());
            $(closestInput).val(currentValue - 1); 

            var itemId = $(this).data('item_id');
            var size = $(this).data('size');

            handleEnableDisable(itemId, size);
        });

        // Página do Carrinho - Esconde os botões de incremento e decremento
        if (isCartPage) {
            $('.increment-qty').hide();
            $('.decrement-qty').hide();
        }
    });
</script>




  

























