<footer class="bg-footer py-5">
  <div class="container">
    <div class="row">
      <div class="col-sm mb-2">
        <!--About Us-->
        <p class="text-black font-weight-bold">ABOUT US</p>
        <p class="text-white">
          Welcome to Wonderboy T-Shirt, your ultimate destination for unique and personalized apparel!
          At our online store, we offer an exciting range of custom-designed t-shirts, sweaters, and hoodies to help you stand out and express your individuality.
        </p>
      </div>
       <!-- payments processing -->
       <div class="col-sm mb-2">
        <p class="text-black font-weight-bold">PAYMENTS PROCESSING</p>
        <p class="text-white">
            Shop K-Beauty's payments processing is powered by Stripe.
            Stripe is a suite of APIs powering online payment processing and commerce solutions
            for internet businesses of all sizes.
        </p>
    </div>
    <div class="col-sm mb-2">
      <!--Links-->
      <p class="text-black font-weight-bold">LINKS</p>
      <a href="">
        <p class="text-white ">Terms and Conditions</p>
    </a>
      <a href="">
        <p class="text-white ">Privacy Policy</p>
    </a>
    </div>
       <!--Social--> 
      <div class="col-sm mb-2">
        <p class="text-black font-weight-bold">FOLLOW US</p>
          <a target="_blank" href="https://www.facebool.co.uk/">
          <i class="fab fa-facebook fa-2x p-3 text-light" aria-hidden="true"></i>
          <span class="sr-only">Facebook</span>
          </a>
          <a target="_blank" href="https://www.youtube.co.uk/">
            <i class="fab fa-youtube fa-2x p-3 text-light" aria-hidden="true"></i>
            <span class="sr-only">Youtube</span>
          </a>
          <a target="_blank" href="https://www.instagram.com/">
          <i class="fab fa-instagram fa-2x p-3 text-light" aria-hidden="true"></i>
          <span class="sr-only">Instagram</span>
          </a>
      </div> 
    </div>
  </div>
  <!--Copyright--> 
  <div class="d-flex flex-row justify-content-center">
    <p class="text-white">© Wonderboy T-shirt <span id="current-year"></span></p>
  </div>
</footer>
{% block postloadjs %}
<script>
  // Update copyright to current year 
  const currentYear = document.querySelector("#current-year");
  currentYear.innerText = new Date().getFullYear();
</script>
{% endblock %}





