<footer class="bg-footer py-5">
  <div class="container">
    <div class="row">
      <div class="col-sm mb-2">
        <!--About Us-->
        <p class="text-black font-weight-bold">ABOUT US</p>
        <p style="color: #222;">
          Welcome to Wonderboy T-Shirt, your ultimate destination for unique and personalized apparel!
          At our online store, we offer an exciting range of custom-designed t-shirts, sweaters, and hoodies to help you stand out and express your individuality.
        </p>        
      </div>
       <!-- payments processing -->
       <div class="col-sm mb-2">
        <p class="text-black font-weight-bold">PAYMENTS PROCESSING</p>
        <p style="color: #222;">
          The payment processing for Wonderboy T-Shirt is powered by Stripe.
          Stripe is a suite of APIs that provides comprehensive solutions for online payment processing and e-commerce, catering to businesses of all sizes across the internet.          
        </p>
    </div>
    <div class="col-sm mb-2">
      <!-- Contact Us -->
      <p class="text-black font-weight-bold">CONTACT US</p>
      <p style="color: #222;">Email: <a href="mailto:example@email.com" style="color: #222;">example@email.com</a></p>
      <p style="color: #222;">Phone: <a href="tel:0103020405" style="color: #222;">0103020405</a></p>
      <p style="color: #222;">Address: 5300 Example Street, Example City, ls1 238</p>
  </div>
  
      <!--Social--> 
      <div class="col-sm mb-2">
        <p class="text-black font-weight-bold">FOLLOW US</p>
          <a target="_blank" href="https://www.facebool.co.uk/">
          <i class="fab fa-facebook fa-2x p-3" aria-hidden="true"></i>
          <span class="sr-only">Facebook</span>
          </a>
          <a target="_blank" href="https://www.youtube.co.uk/">
            <i class="fab fa-youtube fa-2x p-3" aria-hidden="true"></i>
            <span class="sr-only">Youtube</span>
          </a>
          <a target="_blank" href="https://www.instagram.com/">
          <i class="fab fa-instagram fa-2x p-3" aria-hidden="true"></i>
          <span class="sr-only">Instagram</span>
          </a>
      </div>
    </div>
  </div>
  <!--Copyright--> 
  <div class="d-flex flex-row justify-content-center">
    <p style="color: #222;">© Wonderboy T-shirt <span id="current-year"></span></p>
  </div>
</footer>
{% block postloadjs %}
<script>  
  const currentYear = document.querySelector("#current-year");
  currentYear.innerText = new Date().getFullYear();
</script>
{% endblock %}





