{% load static %}

<!doctype html>
<html lang="en">
<head>
    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}{% endblock %}

    {% block corecss %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}{% endblock %}

    {% block corejs %}
        <script src="https://kit.fontawesome.com/e9c73d7092.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}{% endblock %}

    <title>Wonderboy T-shirt {% block extra_title %}{% endblock %}</title>
</head>
<body>
    <header class="container-fluid fixed-top">
        <!-- Top Navigation for Desktop -->
        <div id="topnav" class="row bg-white pt-lg-2 d-none d-lg-flex">
            <div class="col-lg-4 text-center text-lg-left">
                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                    <h2 class="logo-font text-black my-0"><strong>Wonderboy</strong> T-shirt</h2>
                </a>
            </div>
            <div class="col-lg-4">
                <form method="GET" action="{% url 'products' %}">
                    <div class="input-group w-100">
                        <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search our site">
                        <div class="input-group-append">
                            <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-4 text-center text-lg-right">
                {% include 'includes/user-options.html' %}
            </div>
        </div>

        <!-- Mobile Navigation -->
        <div class="row bg-white">
            <nav class="navbar navbar-expand-lg navbar-light w-100">
                <!-- Botão Hamburguer -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" 
                    aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Conteúdo do Menu Mobile -->
                <div class="collapse navbar-collapse" id="main-nav">
                    <ul class="navbar-nav w-100">
                        {% include 'includes/mobile-top-header.html' %}
                        {% include 'includes/main-nav.html' %}
                    </ul>
                </div>
            </nav>
        </div>

        <div id="delivery-banner" class="row text-center">
            <div class="col bg-black text-white">
                <h4 class="height-fixed-30 flex-row justify-center align-center ft-weight-600">
                    <i class="fas fa-truck"></i> Free delivery on orders over ${{ free_delivery_threshold }}!
                </h4>
            </div>
        </div>
    </header>

    {% if messages %}
        <div class="message-container">
            {% for message in messages %}
                {% include 'includes/toasts/toast_message.html' with level=message.level %}
            {% endfor %}
        </div>
    {% endif %}

    {% block page_header %}{% endblock %}
    {% block content %}{% endblock %}

    {% block postloadjs %}
    <script>
        $('.toast').toast('show');
    </script>
    {% endblock %}
</body>
</html>

